@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* font-family: 'inter'; */
html,body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
yellow main #EFC81A
active navbar icon color = #EEC302;
auth-bg #f5f5f5
bg #E5E5E5
gray-strong 999999
gray-soft #C4C4C4
user default bg #C4C4C4
button edit profile #E7E7E7
pinky bg #FAF7ED
navbar active bg #6D61F2;
search efefef
.text-dark  .text-body  .text-secondary
.text-muted  .text-light  .text-white
.text-black-50  .text-white-50
*/

.tes{background-color: red; color: green;}

.mobile {
  font-family: 'inter';
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
}

main {
  flex: 1;
  display: flex;
  width: 100%;
  padding-bottom: 7.5rem;
  
  /* temporary height */
  min-height: 100vh; 
  
  /* important to edit bg color */
  background-color:palevioletred;  
}

section {
  margin-bottom: 2rem;
}

.container {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.navHome {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 50;
  display: flex;
  align-items: center;
  background-color: white;
  height: 10vh;
  width: 480px;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.8rem;
  justify-content: center;
  text-align: center;
}
.navHomeLink{
  color: gray !important;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 0.5rem 0 !important;
}
.navHomeLink:hover{
  color: #EFC81A !important;
  border: 1px solid #EFC81A !important;
  transition: ease-in-out 1s;
}
.navHomeActive{
  background-color: #EFC81A;
  color: white !important;
}
.navHomeActive:hover{
  background-color: #EFC81A;
  color: black !important;
}

.main-bg-cl{background-color: #EFC81A;}
.auth{
  background-color: #f5f5f5;
  align-items: center;
}
.main-text-cl{color: #EFC81A;}
.text-1-cl{color: #C4C4C4;}
.p1{font-size: 28px;}
.p2{font-size: 28px;}
.p3{font-size: 20px;}
.p4{font-size: 14px; }
.bold{font-weight: bold;}

/* INPUT STYLE */
.input-group{
  height: 50px;
}
#logoinput {
  background-color: #f5f5f5;
  border-right: none;
  border: none;
}
#input {
  background-color: #f5f5f5;
  border: none;
  padding-left: 0;
}
#input:focus {
  border: none ;
  box-shadow: none ;
}

.button{
  padding: 14px 20px;
  border-radius: 12px;
  border: 2px solid #EFC81A;
  background-color: #EFC81A;
  color: #ffffff;
}
.button:hover{
  background-color: #fff;
  color: #EFC81A;
  transition: 1s;
}

.aStyle{
  text-decoration: none;
}
.aStyle:hover{
  color: #EFC81A;
  text-decoration:underline;
}

.defAva{
  font-size: 10rem;
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 50%;
}

#poplogo:hover{
  cursor: pointer;
}

/* SWIPER IN HOME PAGE */
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#imagesection{
  width: 100%;
  max-height: 40vh;
}
#imagedetailrecipe{
  width: 100%;
  max-height: 40vh;
}
#descsection{
  width: 100%;
  min-height: 60vh;
}

/* Number Type Input for No Arrow Style */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

